
Maven Play2 Plugin

    The Maven Play2 Plugin is used to build Play 2 application using Maven. Basically, it just a wrapper around the <<<play>>>
command. It supports the application compilation, test and packaging.

    []

Goals Overview

    The Play2 Plugin has only several goals included in the <<<play2>>> packaging:

    * {{{./copy-dependencies-mojo.html}maven-play2-plugin:copy-dependencies}} copies the dependencies to the lib folder.

    * {{{./compile-mojo.html}maven-play2-plugin:compile}} compile your application.

    * {{{./test-mojo.html}maven-play2-plugin:test}} test your application.

    * {{{./package-mojo.html}maven-play2-plugin:package}} package your application.

    * {{{./clean-mojo.html}maven-play2-plugin:clean}} clean the project.

    There is also goals not bound to the Maven lifecycle:

    * {{{./run-mojo.html}maven-play2-plugin:run}} run the application.

    []

Usage

    General instructions on how to use the maven-play2-plugin Plugin can be found on the {{{./usage.html}usage page}}.

    []