
Maven Play2 Plugin

    The ${project.artifactId} is used to build Play 2 applications using Maven. Basically, it just a wrapper around the <<<play>>>
command. It supports the application compilation, test and packaging.

    []

Goals Overview

    The Play2 Plugin has only several goals included in the <<<play2>>> packaging:

    * {{{./copy-dependencies-mojo.html}${project.artifactId}:copy-dependencies}} copies the dependencies to the lib folder.

    * {{{./compile-mojo.html}${project.artifactId}:compile}} compile your application.

    * {{{./test-mojo.html}${project.artifactId}:test}} test your application.

    * {{{./package-mojo.html}${project.artifactId}:package}} package your application.

    * {{{./clean-mojo.html}${project.artifactId}:clean}} clean the project.

    There is also goals not bound to the Maven lifecycle:

    * {{{./run-mojo.html}${project.artifactId}:run}} run the application.

    []

Usage

    General instructions on how to use the ${project.artifactId} can be found on the {{{./usage.html}usage page}}.

    []