
Maven Play2 Plugin

    The ${project.artifactId} is used to build Play 2 applications using Maven. Basically, it just a wrapper around the <<<play>>>
command. It supports compilation, testing and packaging of the application.

    []

Goals Overview

    The Play2 Plugin acts on projects using the <<<play2>>> packaging type during the following phases:

    * {{{./copy-dependencies-mojo.html}${project.artifactId}:copy-dependencies}} copies the (compile) dependencies to the lib folder.

    * {{{./compile-mojo.html}${project.artifactId}:compile}} compiles your application.

    * {{{./test-mojo.html}${project.artifactId}:test}} tests your application.

    * {{{./package-mojo.html}${project.artifactId}:package}} packages your application.

    * {{{./clean-mojo.html}${project.artifactId}:clean}} cleans the project.

    There are also goals not bound to the Maven project lifecycle:

    * {{{./run-mojo.html}${project.artifactId}:run}} runs the application (ctrl-c to exit).

    []

Usage

    General instructions on how to use the ${project.artifactId} can be found on the {{{./usage.html}usage page}}.

    []